name: Release pre-built binaries for new tag

on:
  workflow_dispatch:
    inputs:
      tag:
        description: Tag of release to upload binaries for
        required: true
  push:
    tags: [v*]

permissions:
  contents: write

jobs:
  build:
    strategy:
      fail-fast: true
      matrix: 
        os: [ubuntu, macos, windows]

    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v6
      - 
        uses: actions/setup-go@v6
        with: { go-version: 1.25.4 }

      - run: go build -o hyprls cmd/hyprls/main.go

      - if: matrix.os == 'ubuntu'
        run: zip hyprls.zip hyprls
      - if: matrix.os == 'ubuntu'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ inputs.tag || github.ref_name }}
          token: ${{ github.token }}
          files: |
            hyprls.zip
            hyprls

      - if: matrix.os == 'macos'
        run: mv hyprls hyprls-macos
      - if: matrix.os == 'macos'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ inputs.tag || github.ref_name }}
          token: ${{ github.token }}
          files: hyprls-macos
        
      - if: matrix.os == 'windows'
        run: mv hyprls hyprls.exe
      - if: matrix.os == 'windows'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ inputs.tag || github.ref_name }}
          token: ${{ github.token }}
          files: hyprls.exe
